<div class="container-fluid g-0 p-2">
    <div class="row g-0">
        <div class="col-md-2">
            <img src="../../assets/Images/pic1.jpeg" alt="Profile Images" class="profile">
        </div>
        <div class="col ps-2">
            <div class="row g-0"> 
                <div class="col-md-10">
                    <span class="name"> Rohit Sharma</span>

                </div>
            <div class="col-md-2">
                <div class="btn-group" role="group">
                    <button type="button " class="btn btn-outline-success">Edit</button>
                    <button type="button " class="btn btn-outline-danger">Delete</button>
                </div>

            </div>               
            </div>
            <div class="row g-0 mt-3">
         <div class="col-md">

         </div>
         <div class="col">
            
         </div>
 
        </div>
        </div>
    </div>
</div>
